<!DOCTYPE html>
<!--our html codes starts--->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <title>Product Template</title>
</head>                                                
<body style="background-color: #FFE5F6; margin: 0; padding: 0; font-family: Arial, sans-serif;">
    <table class="container" style="max-width: 800px; margin: 0 auto; padding: 20px;">
        <tr>
            <td class="heading" style="background-color: #FFE5F6; text-align: center;">
                <img src="https://drive.google.com/uc?id=1YH__Gzme5aRcwaufnhoOrf8SuJr_L_YZ" alt="" style="max-width: 100%; height: auto; border-radius: 5px;">
            </td>
        </tr>
        <tr>
            <td class="sub-head" style="background-color:#FFE5F6; padding: 5px;">
                <h2 id="editableText" contenteditable="true" style="color: #333; font-size: 30px; text-align: center; font-weight: bold; font-family: 'Poppins Medium'; width: 100%; height: auto;" rows="4">Get Ready For Huge Savings, Don't Miss Our Exclusive Sale!</h2>
            </td>
        </tr>
        <tr>
            <td class="space" style="padding: 20px;"></td>
        </tr>
        <tr>
            <td class="image" style="text-align: center;">
                <img id="editableImage" src="https://drive.google.com/uc?id=14Ho4o1nRuZwivB5WWW6gtfRsgjIxvhrs" alt="" style="max-width: 100%; height: auto; border-radius: 20px;" onclick="editImage()">
            </td>
        </tr>
        <tr>
            <td class="details" style="background-color:#FFE5F6;; padding: 10px; border: 1px solid #ccc; border-radius: 5px; margin: 10px;">
                <textarea id="editableText" contenteditable="true" style="background-color: #FFE5F6;border-color: #FFE5F6; font-size: 16px; color: #333; text-align: justify; font-family: 'Poppins Medium'; margin: 5px; width: 100%;" rows="5" cols="8">Get ready to shop 'til you drop! Our exclusive sale is here, offering unbeatable discounts on your favorite products. And that's not all—we also provide free shipping on all orders over $50, hassle-free returns, and a dedicated customer support team to assist you every step of the way.</textarea>
            </td>
        </tr>
    </table>
    <div class="button" style="text-align:center;">
        <a id="editableLink" href="https://automatiks.in/" style="text-decoration: none; justify-content: center;">
          <button class="btn" style=" 
            padding: 8px;
            border-radius: 50px;
            color: aliceblue;
            background-color: rgb(41, 39, 43);
            font-size: 20px;
            margin: 50px;
            cursor: pointer;">Visit Us</button>
        </a>
      </div>
  </body>
</html>
