<!DOCTYPE html>
<!--our html codes starts--->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
<title>Divine Delights Template</title>
</head>
<body>
    <table class="template" style="width: 80%; margin: 0 auto; text-align: center;">
        <tr style="width: 100%;">
            <td class="heading" style="text-align: center; padding: 10px; width: 100%;">
                <img src="https://drive.google.com/uc?id=19lBg3bBI12BRzBKK2sTpFOYTCnhn6LDx" alt="">
            </td>
        </tr>
        <tr>
            <td class="image" style="text-align: center;">
                <img id="editableImage" src="https://drive.google.com/uc?id=1o1f9KkE84eNF6DuEBDmiNlEO0VhajIhn" alt="" style="max-width: 100%; height: auto; border-radius: 20px;" onclick="editImage()">
            </td>
        </tr>
        <tr>
            <td class="section1" style="background-color:#FFFF ; width: 100%;border-color: #333;" >
                <img id="editableImage" src="https://drive.google.com/uc?id=1Pj2nmDZjT2iDleBPFYS4MZSNOZhDytMR" alt="" width="200">
                <textarea id="editableText" contenteditable="true" rows="10" style="background-color:#FFFF ; width: 70%; margin: auto; align-content: center; justify-content: center;"> We offer an extensive range of flavors and fillings, from classic favorites to innovative combinations. With our customizable options, you can create your own personalized chocolate box and explore a world of unique taste sensations.</textarea>
            </td>
        </tr>
        <tr>
            <td class="section2" style="border-color: #333;">
                <textarea id="editableText" contenteditable="true" rows="10" style="width: 70%; margin: auto; align-content: center; justify-content: center;">From birthdays and anniversaries to weddings and corporate events, our beautifully packaged chocolates are sure to leave a lasting impression and create unforgettable moments.</textarea>
                <img id="editableImage" src="https://drive.google.com/uc?id=1W9fJ8ByKIY44N1A6yCWfAvyVW6iTw63w" alt="" width="200">
            </td>
        </tr>
    </table>
    <div class="button" style="text-align:center">
        <a href="https://automatiks.in/" style="text-decoration: none;justify-content: center;">
            <button class="btn" style="
                padding:8px;
                border-radius:50px;
                color:aliceblue;
                background-color:rgb(41, 39, 43);
                font-size:20px;
                margin:50px;
                cursor:pointer;">Visit Us</button>
        </a>
    </div>
</body> 
</html>